<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta name="descripcion" content="Pacientes Estadio ERC">
    <meta name="autor" content="Jordi">
    <title>{% block title %}Pacientes Estadio ERC{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header>
      <h1><ins>Crear Datos Entrenados</ins></h1>
    </header>
  <div class="container2">
    <nav class="sidebar2">
      <a class="boton" href="{% url 'index' %}">  Volver</a>
    </nav>
     <main class="contenido">
     <form method="post">
        {% csrf_token %}
        <button class="boton" type="submit">Ejecutar creación</button>
    </form>
    {% if resultado %}
        <br>
        <img src="{% static 'matriz_confusion.jpg' %}">
        <br>
        <ul>
            <strong>Interpretación de la Matriz de Confusión:</strong>
            <br><br>
            <li><strong>Falsos Positivos (FP):</strong> Número de muestras incorrectamente clasificadas como positivas.</li>
            <li><strong>Falsos Negativos (FN):</strong> Número de muestras incorrectamente clasificadas como negativas.</li>
            <li><strong>Verdaderos Positivos (VP):</strong> Número de muestras correctamente clasificadas como positivas.</li>
            <li><strong>Verdaderos Negativos (VN):</strong> Número de muestras correctamente clasificadas como negativas.</li>
            <li><strong>Alta precisión y alto recall:</strong> El modelo de Machine Learning escogido maneja perfectamente esa clase.</li>
            <li><strong>Alta precisión y bajo recall:</strong> El modelo no detecta la clase muy bien, pero cuando lo hace es altamente confiable.</li>
            <li><strong>Baja precisión y alto recall:</strong> El modelo detecta bien la clase,  pero también incluye muestras de la otra clase.</li>
            <li><strong>Baja precisión y bajo recall:</strong> El modelo no logra clasificar la clase correctamente.</li>
        </ul>
        <br><br>
        <pre style="text-align:center;">{{ resultado }}</pre>
        <br>
        <img src="{% static 'edad_promedio_por_estadio.jpg' %}">
        <br>
        <img src="{% static 'proporcion_genero_por_estadio.jpg' %}">
    {% endif %}
    </main>
  </div>
  <footer>
    <p>&copy; 2025 Hospital ERC. Todos los derechos reservados.</p>
  </footer>
</body>
</html>