<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta name="descripcion" content="Pacientes Estadio ERC">
    <meta name="autor" content="Jordi">
    <title>{% block title %}Pacientes Estadio ERC{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
{% block content %}
    <header>
      <h1><ins>Formulario de Datos del Paciente</ins></h1>
    </header>
  <div class="container2">
    <nav class="sidebar2">
    </nav>
     <main class="contenido">
      <form method="post">
         <br><br>
         {% csrf_token %}
         {{ form.as_p }}
         {% if messages %}
         {% for message in messages %}
         <br><br>
         <div><strong>{{ message }}</strong></div>
         {% endfor %}
         {% endif %}
         <br><br>
         <button class="boton" type="submit">Enviar</button>
         <br><br><br>
         <p style="text-align:center;">
         <a href="{% url 'paciente_list' %}">  Volver</a>
         </p>
      </form>
    </main>
  </div>
{% endblock %}
  <footer>
    <p>&copy; 2025 Hospital ERC. Todos los derechos reservados.</p>
  </footer>
</body>
</html>