<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta name="descripcion" content="Pacientes Estadio ERC">
    <meta name="autor" content="Jordi">
    <title>{% block title %}Pacientes Estadio ERC{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header>
    <h1><ins>Eliminar Paciente</ins></h1>
    </header>
    <div class="container2">
    <nav class="sidebar2">
      <a class="boton" href="#" onclick="history.back()">Cancelar</a>
    </nav>
     <main class="contenido">
        <ul>
        <br><br>
        <p><strong>¿Estás seguro de que deseas eliminar el paciente "{{ object.nombre }}" en fecha "{{ object.fecha }}"?</strong></p>
        <br><br>
        <form method="post">
            {% csrf_token %}
            <button class="boton" type="submit">Sí, eliminar</button>
        </form>
        </ul>
    </main>
    </div>
  <footer>
    <p>&copy; 2025 Hospital ERC. Todos los derechos reservados.</p>
  </footer>
</body>
</html>