{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>Eliminar Paciente</title>
</head>
<body>
    <h2>Eliminar Paciente</h2>
    <br><br>
    <p>¿Estás seguro de que deseas eliminar el paciente "{{ object.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Sí, eliminar</button>
    </form>
    <br>
    <a href="{% url 'paciente_list' %}">  Cancelar</a>
</body>
</html>

