<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta name="descripcion" content="Pacientes Estadio ERC">
    <meta name="autor" content="Jordi">
    <title>{% block title %}Pacientes Estadio ERC{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <header>
      <h1><ins>Lista Pacientes</ins></h1>
    </header>
  <div class="container2">
    <nav class="sidebar2">
      <a class="boton" href="{% url 'index' %}">  Volver</a>
    </nav>
     <main class="contenido">
      <form method="post">
  {% block content %}
      <br>
<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha Analítica</th>
    </tr>
  </thead>
  <tbody>
    {% for paciente in object_list %}
    <tr>
      <td><a href="{% url 'paciente_detail' paciente.id %}">{{ paciente.nombre }}</a></td>
      <td>{{ paciente.fecha }}</td>
    {% empty %}
      <td>No hay pacientes registrados.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
      <br><br>
      <a class="boton" href="{% url 'datos_paciente' %}">Añadir Paciente</a>
  {% endblock %}
      </form>
    </main>
  </div>
  <footer>
    <p>&copy; 2025 Hospital ERC. Todos los derechos reservados.</p>
  </footer>
</body>
</html>