/* Style */
 a:hover {
 background-color: rgb(202, 202, 202);
 color: #000000;
 }
 body {
    font-family: Arial, sans-serif;
}

 header, footer {
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color:white;
    color:balck;
    text-align: center;
}

/* Menú de Navegación Responsive */
 nav {
    display: left;
    background-color: rgb(255, 255, 255);
    padding: 5px;
 }

 nav ul {
    list-style-type: none;
}

 nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Columnas Flexibles para Artículos */
 article {
    display:flexbox;
    padding: 20px;
    color:#000000;
}

 article button {
    margin-left: 45px;
    background-color: pink;
    padding: 10px;
}

 section div {
    margin-left: 90px;
    background-color: light-grey;
}

  section::after {
   content: "";
   display: table;
   clear: both;
}

/* Responsive layout - Media Queries 600px */
@media only screen and (max-width: 600px) {

/* Columnas Flexibles para Artículos de menos 600px */
  article p, article h2 {
    display: flex;
    justify-content:auto;
    flex-wrap: wrap; 
  }

   footer {
      display: flex;
      flex-wrap: wrap;
   }
}