/* Style */
 a:hover {
 background-color: rgb(202, 202, 202);
 color: #000000;
 }

 body {
  font-size: 0.875rem;
  font-family: var(--font-family-primary);
}

 header, footer {
  width: auto;
  height: auto;
  display: flex;
  position:relative;
  justify-content:center;
  padding: 10px 40px;
  background-color: #417690;;
  color: #ffc;
}

footer a {
  color: whitesmoke;
}

 article {
   position:relative;
   width: auto;
   height: 325px;
   overflow-x:scroll; 
}

 article button {
    margin-left: 45px;
    background-color: pink;
    padding: 10px;
}

 ul button {
    margin-left: 15px;
    background-color: light-grey;
    padding: 10px;
}

 section {
    margin-left: 90px;
}

  section::after {
   content: "";
   display: table;
   clear: both;
}

@media print {
   div {
    display: none;
  }
}
