/* Style */
 a:hover {
 background-color: rgb(202, 202, 202);
 color: #000000;
 }
 body {
    font-family: Arial, sans-serif;
}

 header, footer {
   position:relative;
   width: 100%;
   margin: auto;
   background-color: #9b9b9b;
   color:white;
   text-align: center;
}

 article {
   position:relative;
   width: auto;
   height: 325px;
   overflow-x:scroll; 
}

 article button {
    margin-left: 45px;
    background-color: pink;
    padding: 10px;
}

 ul button {
    margin-left: 15px;
    background-color: light-grey;
    padding: 10px;
}

 section {
    margin-left: 90px;
}

  section::after {
   content: "";
   display: table;
   clear: both;
}

@media print {
   div {
    display: none;
  }
}
