<!DOCTYPE html>
<html>
<head>
    <title>Página Principal Productos</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
</head>
<body>
    <h1 style="text-align: center"><ins>Bienvenido a la Página Principal de Productos</ins></h1>
    <br><br><br><br><br><br>
    <ul>
        <li>
            <h2><a href="{% url 'producto_list' %}">Ver Productos</a></h2>
        </li>
    </ul>
    <br><br><br><br><br><br>
    <hr>
      <p  style="text-align: center"><ins>Email</ins>: <a href="mailto:email@dominio.com">email@dominio.com</a>
      <ins style="text-align: center">Número teléfono</ins>: <a href="tel:+1234567890">+1234567890</a></p>
    <hr> 
</body>
</html>