{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Lista de Clientes</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.jpg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
      <h1><ins>Lista de Clientes</ins></h1>
    </header>
    <a name="top"></a>
    <article>
    <ul style="text-align:center;">
    {% for cliente in object_list %}
            <a href="{% url 'cliente_detail' cliente.pk %}">{{ cliente.nombre }}
            {{ cliente.apellido }}</a>
            - Correo: {{ cliente.correo }}
    <br>
    {% endfor %}
</ul>
    </article>
    <div>
    <ul>
        <li>
<a href="{% url 'cliente_create' %}" style="color: rgb(0, 200, 0);"><ins>Crear Cliente</ins></a>
        </li>
    </ul>
    <ul>
    <button onclick="window.print();">Imprimir Clientes</button>
        <br><br>
        <li>
           <a href="#top">Volver al inicio</a>
        </li>
        <br>
        <li>
          <a href="{% url 'index' %}">Volver a la página de inicio</a>
        </li>
    </ul>
    </div>
    <footer>
      <p><ins>Email</ins>: <a href="mailto:email@dominio.com">email@dominio.com</a>
      <br><br>
      <ins>Número teléfono</ins>: <a href="tel:+1234567890">+1234567890</a></p>
    </footer>
</body>
</html>