{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Detalle Cliente</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.jpg' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
      <h1>{{ object.nombre }} {{ object.apellido }}</h1>
    </header>
    <br><br><br><br>
    <section>
      <article>
        <ul>
        <div>
<p><b>Nombre:</b> {{ object.nombre }}</p>
<p><b>Apellido:</b> {{ object.apellido }}</p>
<p><b>Correo:</b> {{ object.correo }}</p>
    <br><br><br><br><br><br>
        </div>
        <li>
    <a href="{% url 'cliente_list' %}">Volver a la lista</a>
        </li>
        </ul>
      </article>
    </section>
    <br><br><br><br><br>
    <footer>
      <p><ins>Email</ins>: <a href="mailto:email@dominio.com">email@dominio.com</a>
      <br><br>
      <ins>Número teléfono</ins>: <a href="tel:+1234567890">+1234567890</a></p>
    </footer>
</body>
</html>
