{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% if object %}Editar{% else %}Crear{% endif %} Factura</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.jpg' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
      <h1>{% if object %}Editar{% else %}Crear{% endif %} Factura</h1>
    </header>
    <br>
    <section>
      <article>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="background-color:rgb(0, 255, 0);">{% if object %}Actualizar{% else %}Crear{% endif %}</button>
    </form>
      </article>
    </section>
    <br>
    <ul>
        <li>
           <a href="{% url 'factura_list' %}">Volver a la lista</a>
        </li>
    </ul>
    <br><br><br><br>
    <footer>
      <p><ins>Email</ins>: <a href="mailto:email@dominio.com">email@dominio.com</a>
      <br><br>
      <ins>Número teléfono</ins>: <a href="tel:+1234567890">+1234567890</a></p>
    </footer>
</body>
</html>