{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Lista de Facturas</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.jpg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
      <h1><ins>Lista de Facturas</ins></h1>
    </header>
    <a name="top"></a>
    <article>
    <ul style="text-align:center;">
        {% for factura in object_list %}
            <a href="{% url 'factura_detail' factura.pk %}">{{ factura.id }}</a> - Cliente: {{ factura.nombre }}
            - Producto: {{ factura.producto }} - Cantidad: {{ factura.cantidad }} - Subtotal: {{ factura.subtotal }}
                <br>
        {% endfor %}
    </ul>
    </article>
    <div>
    <ul>
    <button onclick="window.print();">Imprimir Facturas</button>
        <br><br><br><br>
        <li>
           <a href="#top">Volver al inicio</a>
        </li>
        <br>
        <li>
          <a href="{% url 'index' %}">Volver a la página de inicio</a>
        </li>
    </ul>
    </div>
    <footer>
      <p><ins>Email</ins>: <a href="mailto:email@dominio.com">email@dominio.com</a>
      <br><br>
      <ins>Número teléfono</ins>: <a href="tel:+1234567890">+1234567890</a></p>
    </footer>
</body>
</html>
