{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Detalle de la Factura</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.jpg' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
      <h1><b>Papelería</b></h1>
    </header>
	<hr />
	<h4>NIF : 0123456789</h4>
	<h4>FACTURA : {{ object.id }}</h4>
	<hr />
	<h1 style="text-align: center;">FACTURA</h1> 
        <h4>Barcelona, con fecha: <b id="fecha"></b></h4>
        <h4><b>Cliente: {{ object.nombre }}</b></h4>
        <h4><b>Correo: {{ object.nombre.correo }}</b></h4>
<table class="table table-bordered">
	<thead >
		<tr >
			<th style="text-align: center;">
				<h4>Cantidad</h4>
			</th>
			<th style="text-align: center;">
				<h4>Producto</h4>
			</th>
			<th style="text-align: center;">
				<h4>Precio_Producto</h4>
			</th>
			<th style="text-align: center;">
				<h4>Total</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;">{{ object.cantidad }}</td>
			<td style="text-align: center;">{{ object.producto }}</td>
			<td style="text-align: center;">{{ object.producto.precio }}€</td>
			<td style="text-align: center;">{{ object.subtotal }}€</td>
		</tr>
	</tbody>
</table>
<hr />
    <div>
		<ul>
		<button onclick="window.print();">Imprimir Factura</button>
			<br><br>
			<li>
			  <a href="/productos/facturas/">Volver a la Lista de Facturas Papelería</a>
			</li>
		</ul>
    </div>
    <footer>
      <p><ins>Email</ins>: <a href="mailto:email@dominio.com">email@dominio.com</a>
      <br><br>
      <ins>Número teléfono</ins>: <a href="tel:+1234567890">+1234567890</a></p>
    </footer>
</body>
<script>
const d = new Date();
const mes = d.getMonth() + 1
const dd = d.getDate() + "/" + mes + "/" + d.getFullYear();
document.getElementById("fecha").innerHTML = dd;
</script> 
</html>