{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos</title>
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.jpg' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
      <h1><ins>Lista de Productos</ins></h1>
    </header>
    <section>
    <article>
    <ul>
        {% for producto in object_list %}
                <a href="{% url 'producto_detail' producto.pk %}">{{ producto.nombre }}</a> => {{ producto.precio }}€ -
                <a href="{% url 'producto_update' producto.pk %}">Editar</a>
                <a href="{% url 'producto_delete' producto.pk %}">Eliminar</a>
                <br><br>
        {% endfor %}
    </ul>
    </article>
    </section>
    <div>
    <ul>
        <li>
           <a href="{% url 'producto_create' %}" style="color: rgb(0, 200, 0);"><ins>Crear Producto</ins></a>
        </li>
    </ul>
    <br>
    <ul>
    <button onclick="window.print();">Imprimir Productos</button>
    <br><br><br>
        <li>
          <a href="{% url 'index' %}">Volver a la página de inicio</a>
        </li>
    </ul>
    </div>
    <br><br><br>
    <footer>
      <p><ins>Email</ins>: <a href="mailto:email@dominio.com">email@dominio.com</a>
      <br><br>
      <ins>Número teléfono</ins>: <a href="tel:+1234567890">+1234567890</a></p>
    </footer>
</body>
</html>




