<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard</title>
</head>
<body>
    <h1 style="font-family:Arial, Helvetica, sans-serif;text-align:center;text-decoration: underline;">Tabla de Puntuaciones</h1>
    <table style="padding: 10px;">
        <thead>
            <tr>
                <th style="font-family:Arial, Helvetica, sans-serif;text-decoration: underline;">Nombre</th>
                <th style="font-family:Arial, Helvetica, sans-serif;text-decoration: underline;">Puntos</th>
            </tr>
        </thead>
        <tbody>
            {% for jugador in jugadores %}
                <tr>
                    <td>{{ jugador.nombre }}</td>
                    <td>{{ jugador.puntos }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a href="{% url 'index' %}">Volver al Juego</a>
</body>
</html>
