{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'snake.js' %}"></script>
</head>
<body>
    <header>
        <img src="{% static 'snake_t.png' %}">
    </header>
    <div>
        <label for="veloz"><strong>Dificultad Inicio: </strong></label>
        <select id="veloz">
            <option disabled selected value="0">Elige Nivel</option>
            <option value="200">Fácil</option>
            <option value="150">Medio</option>
            <option value="100">Difícil</option>
            <option value="50">Muy Difícil</option>
        </select>
    </div>
    <section>
        <canvas id="juegoSerpiente" width="400" height="400"></canvas>
    </section>
    <footer><p id="output"></p></footer>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if object %}Actualizar{% else %}Crear{% endif %}</button>
        <button id="botonStart"><strong>Empezar Juego</strong></button>
    </form>
    <a href="{% url 'snake_list' %}">Volver a la lista</a>
</body>
</html>

